
// COLORS
$color-primary: #4056A1;
$color-primary-dark: #383838;
$color-primary-light: #38383880;

$color-secondary-light: #da9a34;
$color-secondary-dark: #ff7730;

$color-primary-opasity: rgba(64, 87, 161, 0.5);
$color-white: #fff;
$color-black: #000;
