// See: https://sass-lang.com/
@import './nav.scss';
@import './base.scss';
@import './mainPage.scss';
@import './signup.scss';


body {
  background-color: rgba(238, 238, 238, 0.2);
  font-family: 'Source Sans Pro', sans-serif;

  h1 {
    color: #244751;
  }
}
