@import './mixins';
.mypolls {
  margin: 30px auto;
  &-date {
    font-size: 18px;
    margin-left: 40px;
    width:20%;
  }
  &-btn {
    flex-grow: 1;
    min-width: 110px;
    margin: 20px 16px;
    float: right;
    height: 38px;
    outline: none;
    border-radius: 38px 38px 38px 38px;
    background-color: transparent;
    border: solid rgba(31, 117, 255, 0.9) 1px;
    cursor: pointer;
    background-color: rgba(31, 117, 255, 0.8);
    color: #fff;
    &-custom {
      text-align: center;
      min-width: 90px;
      height: 36px;
      border: solid rgba(31, 118, 255, 1) 1px;
      background-color: white;
      color: rgba(31, 118, 255, 1);
      cursor: pointer;
      @include md {
        min-width: 60px;
        height: 30px;
      }
      & > span {
        display: block;
        margin: 5px auto;
      }
      &:hover{
        background-color: rgba(31, 118, 255, 1);
        color: white;
      }
    }
    &:hover{
      background-color: rgba(31, 117, 255, 1);
    }
  }

  &-accordeon-data {
    color: rgba(255, 145, 0, 0.8);
    display: none;
    &-question {
      margin: 5px 0;
      padding: 5px 0;
      width: 48%;
      text-align: center;
      color: rgba(168, 95, 0, 0.85);
      font-size: 24px;
    }
    &-item {
      font-size: 22px;
      text-align: center;
      margin: 5px 0;
      padding: 5px 0;
      border: 1px solid rgba(31, 117, 255, 0.3);
      box-shadow: 8px 8px 4px -7px rgba(31, 117, 255, 0.3);
      background-color: white;
      border-radius: 5px;
      width: 48%;
    }
  }
}

.mypolls-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  &-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 36px;
    margin: 20px auto;
    padding-left: 100px;
  }
  &-row {
    width: 100%;
    &-data {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      &:first-child {
        flex-grow: 2;
      }
      &-btn {
        width: 15%;
      }
      &-title {
        font-size: 28px;
        width: 50%;
        cursor: pointer;
        &-static {
          width: 50%;
          flex: 1 1 auto;
          font-size: 32px;
        }
      }
    }
    &-delete {
      margin-right: 16px;
    }
  }
}


.active {
  background-color: white;
  margin: 5px 0;
  padding: 5px 0;
  color: rgb(168, 95, 0);
  border: 1px solid rgba(30, 73, 143, 0.4);
  box-shadow: 8px 8px 4px -7px rgba(30, 73, 143, 0.4);
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
