@import './mixins';
@import './variables';

$topbar-responsive-bg: $color-white;
$white: $color-white;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.nav {
  min-height: 120px;
  background: $topbar-responsive-bg;
  display: flex;
  justify-content: space-between;
  &-title {
    padding: 12px;
    margin-left: 1rem;
    flex-basis: 150px;
    &-logo{
      @include sm {
        display: none;
      }
      height: 80%;
    }
  }
  &-body {
    flex: 2;
    &-list {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 18px;
      &-name {
        font-weight: 300;
        font-size: 20px;
        color: $color-tertiary-light;
        margin: 0 0px;
        padding: 0 3px;
      }
      &-pollList {
        font-weight: 500;
        font-size: 20px;
        color: rgb(0, 110, 255);
        margin: 0 0px;
        padding: 0 12px;
        cursor: pointer;
        &:hover {
          color: rgb(0, 0, 128);
        }
      }

    }
  }
  &-buttons {
    flex: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    &-style {
      min-width: 110px;
      margin: 0 16px;
      height: 38px;
      outline: none;
      border-radius: 38px 38px 38px 38px;
      background-color: transparent;
      border: solid $color-primary 1px;
      cursor: pointer;
      &:hover{
        background-color: $color-primary;
      }
      &-font {
        font-weight: 300;
        padding: 10px 16px;
        font-size: 18px;
        color: $color-primary;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
