.signup-form {
  width: 360px;
  margin: 60px auto;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  &:first-child {
    font-size: 28px;
  }
  &-input {
    margin: 0 16px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    border-bottom: solid rgba(63, 63, 63, 0.4) 1px;
    background-color: inherit;
  }
  &-buttons {
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
    font-size: 18px;
    &-btn {
      min-width: 110px;
      margin: 0 16px;
      height: 38px;
      outline: none;
      border-radius: 38px 38px 38px 38px;
      background-color: transparent;
      border: solid rgba(31, 117, 255, 0.9) 1px;
      cursor: pointer;
      background-color: rgba(31, 117, 255, 0.8);
      color: #fff;
      &:hover{
        background-color: rgba(31, 117, 255, 1);
      }
    }
  }
}

$highlight-color: dodgerblue;

.form-floating-label {
  position: relative;

  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],


  textarea {
    margin-bottom: 0;

    font-size: 22px;
    font-weight: 300;
    padding: 30px 1rem 1rem 25px;
  }

  label {
    color: $highlight-color;
    font-size: 22px;
    position: absolute;
    pointer-events: none;
    left: 25px;
    bottom: 0;
    transition: all 0.2s ease-in;
    font-weight: 300;
  }

  textarea ~ label {
    top: 20px;
    font-size: 22px;
    font-weight: 300;
  }

  /* active state */
  input:focus ~ label,
  input:disabled[value] ~ label,
  &.has-value input ~ label {
    top: 0;
    font-size: 14px;
    color: $highlight-color;
    font-weight: 400;
  }

  textarea:focus ~ label,
  &.has-value textarea ~ label {
    top: 0;
    font-size: 14px;
    color: $highlight-color;
    font-weight: 400;
  }
}

.has-value {
  top: 0;
  font-size: 14px;
  color: $highlight-color;
  font-weight: 400;
}

.border-blue {
  border-bottom: solid blue 2px;
  transition: all 0.25s ease-in;
}
