.thanks {
  &-check-mark {
    position: relative;
    margin-top: 80px;
    height: 160px;
    width: 160px;
    border: solid rgba(31, 117, 255, 0.85) 3px;
    color:rgba(31, 117, 255, 0.85);
    border-radius: 50%;
    i {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 64px;
    }
  }
  &-title {
    font-size: 48px;
  }
  &-redirect {
    color: white;
    padding: 10px 15px;
    font-size: 28px;
    border: solid rgba(31, 117, 255, 0.85) 3px;
    background-color: rgba(31, 117, 255, 0.9);
    border-radius: 10px;
  }
}
